.QuestionId{
    max-width: 1000px;
    margin: 0 auto;
    > .title {
        display: flex;
        align-items: baseline;
        > h1 {}
        > .name {
            margin-left: 20px;
            font-size: 22px;
            color: grey;
        }
    }

    > .description {}
}