.Overview {
    max-width: 1000px;
    margin: 0 auto;
    > h1 {}

    > .questions {
        gap: 10px;
        display: flex;
        flex-direction: column;
        > .question {
            text-decoration: none;
            color: black;
            border: 1px solid grey;
            background: white;
            border-radius: 5px;
            padding: 10px;
      
            &:hover {
              background: whitesmoke;
            }
            > h4 {}
            > p {
                color: grey;
            }
        }
    }
}